<div class="main-content">
    <div class="news-articles" (mouseover)="pauseAutoScroll()" (mouseleave)="onMouseLeave()">
      <div class="carousel">
        <button [ngClass]="{ 'disable-button' : currentCarouselIndex == 1}" [disabled]="currentCarouselIndex == 0" class="carousel-button left" (click)="moveLeft(true)">&#8592;</button>
        <button [ngClass]="{ 'disable-button' : currentCarouselIndex >= topHeadlineArticles.length}" class="carousel-button right" (click)="moveRight(true)">&#8594;</button>
        <div class="data-slides" #carouselData>
          <div class="article" *ngFor="let article of topHeadlineArticles; let i = index">
            <app-news-card [article]="article" (imageError)="removeArticleTopHeadlines(i)"></app-news-card>
          </div>
        </div>
      </div>
    </div>
      <div class="tabs-wrapper">
     <mat-tab-group>
        <!-- First tab -->
        <mat-tab label="News by Country">
          <div class="country-selection-wrapper">
            <h1 style="text-align: center;">Latest news by country</h1>
            <div class="country-selection">
              Select country:
              <select [(ngModel)]="selectedCountry" (change)="onSelectChanges($event)">
                <option *ngFor="let country of countryList" [value]="country.short">{{country.country}}</option>
              </select>
            </div>
             <div *ngIf="paginatedArticlesByCountry.length == 0" style="padding: 3rem; text-align: center;">
             <span class="latest-news-error" >Due to recent changes by NewsAPI.org, retrieving news by country is now limited to only the United States under my current subscription plan.</span>
            </div>
             <div *ngFor="let article of paginatedArticlesByCountry">
              <app-news-card-mediastack-mini [article]="article"></app-news-card-mediastack-mini>
            </div>
          </div>
          <div *ngIf="paginatedArticlesByCountry.length > 0" class="right-pagination-wrapper">
            <mat-paginator
              [length]="rPageLength"
              [pageSize]="rPageSize"
              [hidePageSize]="true"
              (page)="onPageChange($event)">
            </mat-paginator>
          </div>
        </mat-tab>
        <!-- Second tab -->
        <mat-tab label="Search for Articles">
          <h1 style="text-align: center;">Search for articles</h1>
          <form (submit)="onSubmitSearch($event)">
            <div class="input-wrapper">
              <input [(ngModel)]="queryValue" [ngModelOptions]="{standalone: true}" class="article-input" #inputField placeholder="Enter a keyword...">
              <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
            </div>
          </form>
          <div class="queried-articles-container">
            <div *ngFor="let article of paginatedQueriedArticles">
              <app-news-queried [article]="article"></app-news-queried>
            </div>
            <h2 class="center" *ngIf="queriedArticles.length == 0">No recent articles found that match your search.</h2>
          </div>
          <div class="pagination" *ngIf="queriedArticles.length > 0">
            <button class="pag-btn pag-btn-left" [disabled]="qPage <= 1" (click)="onQueriedPageChange(-qPage + 1)">&#171;</button>
            <button class="pag-btn pag-btn-left" [disabled]="qPage <= 1" (click)="onQueriedPageChange(-1)">&#60;</button>

            <div class="page-numbers">
              <button class="pag-btn" (click)="onQueriedPageNumberChange($event)" #pagButton1>1</button>
              <button [disabled]="qPageLength < qPageSize * 2" class="pag-btn" (click)="onQueriedPageNumberChange($event)" #pagButton2>2</button>
              <button [disabled]="qPageLength < qPageSize * 3" class="pag-btn" (click)="onQueriedPageNumberChange($event)" #pagButton3>3</button>
              <button [disabled]="qPageLength < qPageSize * 4" class="pag-btn" (click)="onQueriedPageNumberChange($event)" #pagButton4>4</button>
              <button [disabled]="qPageLength < qPageSize * 5" class="pag-btn" (click)="onQueriedPageNumberChange($event)" #pagButton5>5</button>
            </div>

            <button class="pag-btn pag-btn-right" [disabled]="qPage >= qPageSize || qPageLength <= qPageSize * qPage"
              (click)="onQueriedPageChange(1)">&#62;</button>
            <button class="pag-btn pag-btn-right" [disabled]="qPage >= qPageSize || qPageLength <= qPageSize * qPage"
              (click)="onQueriedPageChange(qPageLength / qPageSize - qPage)">&#187;</button>
          </div>
        </mat-tab>
     </mat-tab-group>
    </div>
  </div>

